<div class="min-h-screen bg-black text-white py-16 px-4">
  
    <!-- Seminaries Sectie -->
    <section id="seminaries" class="max-w-5xl mx-auto">
      <h2 class="text-4xl font-bold text-center mb-12 text-red-500">Seminaries & Activiteiten</h2>
  
      <!-- Seminaries -->
      <div class="mb-16">
        <h3 class="text-3xl font-semibold text-red-400 mb-8">Seminaries</h3>
        <div class="space-y-6">
          <!-- Seminar 1 -->
          <div class="bg-gray-900 p-6 rounded-lg shadow-lg border-2 border-red-700 transform hover:scale-105 transition-transform hover:shadow-[0_0_15px_5px_rgba(239,68,68,0.7)]">
            <h4 class="text-xl font-bold text-white mb-2">1. Jidoka: Svelte</h4>
            <p class="text-gray-300 mb-4">
              We hebben een seminar gehad over Svelte, waarin werd verteld dat het een radicaal nieuwe benadering is voor het bouwen van gebruikersinterfaces. In tegenstelling tot traditionele frameworks zoals React en Vue, die het meeste werk in de browser doen, verplaatst Svelte dat werk naar de compilatiestap.
            </p>
            <div class="flex flex-col space-y-2 text-gray-400">
              <div class="flex items-center">
                <svg class="w-5 h-5 mr-2" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
                  <path d="M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zm0 9.5a2.5 2.5 0 010-5 2.5 2.5 0 010 5z"/>
                </svg>
                <span>Digital PXL – G414, Elfde Liniestraat, Gebouw G, Hasselt, 3500 België</span>
              </div>
              <div class="flex items-center">
                <svg class="w-5 h-5 mr-2" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
                  <path d="M19 4h-1V2h-2v2H8V2H6v2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 16H5V8h14v12z"/>
                </svg>
                <span>09/05/2023</span>
              </div>
              <div class="flex items-center">
                <svg class="w-5 h-5 mr-2" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
                  <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8zm-1-13h2v6h-2zm0 8h2v2h-2z"/>
                </svg>
                <span>3 uur</span>
              </div>
            </div>
          </div>
  
          <!-- Seminar 2 -->
          <div class="bg-gray-900 p-6 rounded-lg shadow-lg border-2 border-red-700 transform hover:scale-105 transition-transform hover:shadow-[0_0_15px_5px_rgba(239,68,68,0.7)]">
            <h4 class="text-xl font-bold text-white mb-2">2. BIQ: Het nut van clean code, pull requests en code review</h4>
            <p class="text-gray-300 mb-4">
              De seminarie ging over het interpreteren van onduidelijke requirements, het schrijven van schone code en het maken van kleine, iteratieve commits. Het besprak ook het nut van tools zoals SonarQube en hoe dit alles bijdraagt aan een beter eindproduct.
            </p>
            <div class="flex flex-col space-y-2 text-gray-400">
              <div class="flex items-center">
                <svg class="w-5 h-5 mr-2" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
                  <path d="M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zm0 9.5a2.5 2.5 0 010-5 2.5 2.5 0 010 5z"/>
                </svg>
                <span>Digital PXL – G412a, Elfde Liniestraat, Gebouw G, Hasselt, 3500 België</span>
              </div>
              <div class="flex items-center">
                <svg class="w-5 h-5 mr-2" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
                  <path d="M19 4h-1V2h-2v2H8V2H6v2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 16H5V8h14v12z"/>
                </svg>
                <span>25/04/2023</span>
              </div>
              <div class="flex items-center">
                <svg class="w-5 h-5 mr-2" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
                  <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8zm-1-13h2v6h-2zm0 8h2v2h-2z"/>
                </svg>
                <span>3 uur</span>
              </div>
            </div>
          </div>
  
          <!-- Seminar 3 -->
          <div class="bg-gray-900 p-6 rounded-lg shadow-lg border-2 border-red-700 transform hover:scale-105 transition-transform hover:shadow-[0_0_15px_5px_rgba(239,68,68,0.7)]">
            <h4 class="text-xl font-bold text-white mb-2">3. PWC: Forensics</h4>
            <p class="text-gray-300 mb-4">
              Dit document is een presentatie van PwC over incidentrespons en het detecteren van malware, gericht op digitale forensische analyse en persistentiestrategieën. Het behandelt methodologieën, tools en technieken om malware te identificeren, te onderzoeken en te bestrijden, inclusief praktische oefeningen.
            </p>
            <div class="flex flex-col space-y-2 text-gray-400">
              <div class="flex items-center">
                <svg class="w-5 h-5 mr-2" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
                  <path d="M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zm0 9.5a2.5 2.5 0 010-5 2.5 2.5 0 010 5z"/>
                </svg>
                <span>Digital PXL – G414, Elfde Liniestraat, Gebouw G, Hasselt, 3500 België</span>
              </div>
              <div class="flex items-center">
                <svg class="w-5 h-5 mr-2" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
                  <path d="M19 4h-1V2h-2v2H8V2H6v2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 16H5V8h14v12z"/>
                </svg>
                <span>21/03/2023</span>
              </div>
              <div class="flex items-center">
                <svg class="w-5 h-5 mr-2" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
                  <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8zm-1-13h2v6h-2zm0 8h2v2h-2z"/>
                </svg>
                <span>3 uur</span>
              </div>
            </div>
          </div>
  
          <!-- Seminar 4 -->
          <div class="bg-gray-900 p-6 rounded-lg shadow-lg border-2 border-red-700 transform hover:scale-105 transition-transform hover:shadow-[0_0_15px_5px_rgba(239,68,68,0.7)]">
            <h4 class="text-xl font-bold text-white mb-2">4. Accenture: Prototyping van een full-stack applicatie</h4>
            <p class="text-gray-300 mb-4">
              De sessie begon met een introductie over Flutter en Django, inclusief persoonlijke ervaringen van de sprekers. Daarna moesten we zelf een applicatie ontwikkelen met behulp van deze frameworks.
            </p>
            <div class="flex flex-col space-y-2 text-gray-400">
              <div class="flex items-center">
                <svg class="w-5 h-5 mr-2" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
                  <path d="M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zm0 9.5a2.5 2.5 0 010-5 2.5 2.5 0 010 5z"/>
                </svg>
                <span>Digital PXL – G414, Elfde Liniestraat, Gebouw G, Hasselt, 3500 België</span>
              </div>
              <div class="flex items-center">
                <svg class="w-5 h-5 mr-2" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
                  <path d="M19 4h-1V2h-2v2H8V2H6v2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 16H5V8h14v12z"/>
                </svg>
                <span>28/02/2023</span>
              </div>
              <div class="flex items-center">
                <svg class="w-5 h-5 mr-2" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
                  <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8zm-1-13h2v6h-2zm0 8h2v2h-2z"/>
                </svg>
                <span>3 uur</span>
              </div>
            </div>
          </div>
  
          <!-- Seminar 5 -->
          <div class="bg-gray-900 p-6 rounded-lg shadow-lg border-2 border-red-700 transform hover:scale-105 transition-transform hover:shadow-[0_0_15px_5px_rgba(239,68,68,0.7)]">
            <h4 class="text-xl font-bold text-white mb-2">5. Inetum: CoPilot Studio: Build intelligent connected chatbots</h4>
            <p class="text-gray-300 mb-4">
              We kregen eerst uitleg over hoe we genAI moesten gebruiken en achteraf mocht iedereen zijn eigen bot maken en deze presenteren en vergelijken met andere studenten.
            </p>
            <div class="flex flex-col space-y-2 text-gray-400">
              <div class="flex items-center">
                <svg class="w-5 h-5 mr-2" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
                  <path d="M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zm0 9.5a2.5 2.5 0 010-5 2.5 2.5 0 010 5z"/>
                </svg>
                <span>Corda Campus – CC712, Kempische Steenweg 293/16, Corda 7, Hasselt, 3500 België</span>
              </div>
              <div class="flex items-center">
                <svg class="w-5 h-5 mr-2" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
                  <path d="M19 4h-1V2h-2v2H8V2H6v2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 16H5V8h14v12z"/>
                </svg>
                <span>04/12/2024</span>
              </div>
              <div class="flex items-center">
                <svg class="w-5 h-5 mr-2" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
                  <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8zm-1-13h2v6h-2zm0 8h2v2h-2z"/>
                </svg>
                <span>3 uur</span>
              </div>
            </div>
          </div>
  
          <!-- Seminar 6 -->
          <div class="bg-gray-900 p-6 rounded-lg shadow-lg border-2 border-red-700 transform hover:scale-105 transition-transform hover:shadow-[0_0_15px_5px_rgba(239,68,68,0.7)]">
            <h4 class="text-xl font-bold text-white mb-2">6. ACA: Behavior Driven Development</h4>
            <p class="text-gray-300 mb-4">
              Eerst moesten we unit-tests schrijven op basis van de code die ons was gegeven, en daarna moesten we aan de slag met Behavior Driven Development.
            </p>
            <div class="flex flex-col space-y-2 text-gray-400">
              <div class="flex items-center">
                <svg class="w-5 h-5 mr-2" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
                  <path d="M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zm0 9.5a2.5 2.5 0 010-5 2.5 2.5 0 010 5z"/>
                </svg>
                <span>Corda Campus – CC712, Kempische Steenweg 293/16, Corda 7, Hasselt, 3500 België</span>
              </div>
              <div class="flex items-center">
                <svg class="w-5 h-5 mr-2" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
                  <path d="M19 4h-1V2h-2v2H8V2H6v2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 16H5V8h14v12z"/>
                </svg>
                <span>27/11/2024</span>
              </div>
              <div class="flex items-center">
                <svg class="w-5 h-5 mr-2" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
                  <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8zm-1-13h2v6h-2zm0 8h2v2h-2z"/>
                </svg>
                <span>3 uur</span>
              </div>
            </div>
          </div>
  
          <!-- Seminar 7 -->
          <div class="bg-gray-900 p-6 rounded-lg shadow-lg border-2 border-red-700 transform hover:scale-105 transition-transform hover:shadow-[0_0_15px_5px_rgba(239,68,68,0.7)]">
            <h4 class="text-xl font-bold text-white mb-2">7. ITLicious: Flutter</h4>
            <p class="text-gray-300 mb-4">
              Eerst kregen we uitleg over hoe hij Sporza heeft ontwikkeld, hoe het in elkaar zit, en daarna moesten we zelf een eenvoudige applicatie maken in Flutter/Dart.
            </p>
            <div class="flex flex-col space-y-2 text-gray-400">
              <div class="flex items-center">
                <svg class="w-5 h-5 mr-2" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
                  <path d="M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zm0 9.5a2.5 2.5 0 010-5 2.5 2.5 0 010 5z"/>
                </svg>
                <span>Corda Campus – CC713, Kempische Steenweg 293/16, Corda 7, Hasselt, 3500 België</span>
              </div>
              <div class="flex items-center">
                <svg class="w-5 h-5 mr-2" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
                  <path d="M19 4h-1V2h-2v2H8V2H6v2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 16H5V8h14v12z"/>
                </svg>
                <span>06/11/2024</span>
              </div>
              <div class="flex items-center">
                <svg class="w-5 h-5 mr-2" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
                  <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8zm-1-13h2v6h-2zm0 8h2v2h-2z"/>
                </svg>
                <span>3 uur</span>
              </div>
            </div>
          </div>
  
          <!-- Seminar 8 -->
          <div class="bg-gray-900 p-6 rounded-lg shadow-lg border-2 border-red-700 transform hover:scale-105 transition-transform hover:shadow-[0_0_15px_5px_rgba(239,68,68,0.7)]">
            <h4 class="text-xl font-bold text-white mb-2">8. nocomputer: Prompt Engineering</h4>
            <p class="text-gray-300 mb-4">
              Eerst kregen we uitleg over hoe we AI moesten gebruiken en hoe we het effectiever konden inzetten, en daarna mochten we zelf foto's genereren met AI.
            </p>
            <div class="flex flex-col space-y-2 text-gray-400">
              <div class="flex items-center">
                <svg class="w-5 h-5 mr-2" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
                  <path d="M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zm0 9.5a2.5 2.5 0 010-5 2.5 2.5 0 010 5z"/>
                </svg>
                <span>Corda Campus – CC714, Kempische Steenweg 293/16, Corda 7, Hasselt, 3500 België</span>
              </div>
              <div class="flex items-center">
                <svg class="w-5 h-5 mr-2" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
                  <path d="M19 4h-1V2h-2v2H8V2H6v2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 16H5V8h14v12z"/>
                </svg>
                <span>23/10/2024</span>
              </div>
              <div class="flex items-center">
                <svg class="w-5 h-5 mr-2" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
                  <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8zm-1-13h2v6h-2zm0 8h2v2h-2z"/>
                </svg>
                <span>3 uur</span>
              </div>
            </div>
          </div>
        </div>
      </div>
  
      <!-- Innovatie -->
      <div class="mb-16">
        <h3 class="text-3xl font-semibold text-red-400 mb-8">Innovatie</h3>
        <div class="space-y-6">
          <!-- Innovatie 1 -->
          <div class="bg-gray-900 p-6 rounded-lg shadow-lg border-2 border-red-700 transform hover:scale-105 transition-transform hover:shadow-[0_0_15px_5px_rgba(239,68,68,0.7)]">
            <h4 class="text-xl font-bold text-white mb-2">1. Innovatieroute: Security and Cloud</h4>
            <p class="text-gray-300 mb-4">
              Bij de seminaries kreeg je uitleg over cybersecurity en netwerkbeheer. Resilix ging over cyberaanvallen, ransomware en crisisbeheer, Cloudar over threat hunting in AWS, en Exclusive Networks over Secure SD-WAN met praktische toepassingen zoals SDN en FortiManager.
            </p>
            <div class="flex flex-col space-y-2 text-gray-400">
              <div class="flex items-center">
                <svg class="w-5 h-5 mr-2" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
                  <path d="M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zm0 9.5a2.5 2.5 0 010-5 2.5 2.5 0 010 5z"/>
                </svg>
                <span>Corda Campus – CC711, Kempische Steenweg 293/16, Corda 7, Hasselt, 3500 België</span>
              </div>
              <div class="flex items-center">
                <svg class="w-5 h-5 mr-2" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
                  <path d="M19 4h-1V2h-2v2H8V2H6v2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 16H5V8h14v12z"/>
                </svg>
                <span>24/09/2024 – 15/10/2024</span>
              </div>
              <div class="flex items-center">
                <svg class="w-5 h-5 mr-2" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
                  <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8zm-1-13h2v6h-2zm0 8h2v2h-2z"/>
                </svg>
                <span>25 uur</span>
              </div>
            </div>
          </div>
  
          <!-- Innovatie 2 -->
          <div class="bg-gray-900 p-6 rounded-lg shadow-lg border-2 border-red-700 transform hover:scale-105 transition-transform hover:shadow-[0_0_15px_5px_rgba(239,68,68,0.7)]">
            <h4 class="text-xl font-bold text-white mb-2">2. Hackaton: Hack The Future</h4>
            <p class="text-gray-300 mb-4">
              We moesten in Java code schrijven voor een wedstrijd waarin ruimteschepen, geprogrammeerd door de ingeschreven deelnemers, elkaar moesten verslaan.
            </p>
            <div class="flex flex-col space-y-2 text-gray-400">
              <div class="flex items-center">
                <svg class="w-5 h-5 mr-2" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
                  <path d="M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zm0 9.5a2.5 2.5 0 010-5 2.5 2.5 0 010 5z"/>
                </svg>
                <span>Koningin Astridplein 20-26, 2018 Antwerpen</span>
              </div>
              <div class="flex items-center">
                <svg class="w-5 h-5 mr-2" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
                  <path d="M19 4h-1V2h-2v2H8V2H6v2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 16H5V8h14v12z"/>
                </svg>
                <span>19/12/2024</span>
              </div>
              <div class="flex items-center">
                <svg class="w-5 h-5 mr-2" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
                  <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8zm-1-13h2v6h-2zm0 8h2v2h-2z"/>
                </svg>
                <span>1 dag</span>
              </div>
            </div>
          </div>
        </div>
      </div>
  
      <!-- Persoonlijke Ontwikkeling -->
      <div class="mb-16">
        <h3 class="text-3xl font-semibold text-red-400 mb-8">Persoonlijke Ontwikkeling</h3>
        <div class="space-y-6">
          <!-- Persoonlijke Ontwikkeling 1 -->
          <div class="bg-gray-900 p-6 rounded-lg shadow-lg border-2 border-red-700 transform hover:scale-105 transition-transform hover:shadow-[0_0_15px_5px_rgba(239,68,68,0.7)]">
            <h4 class="text-xl font-bold text-white mb-2">1. Projectweek 2TIN</h4>
            <p class="text-gray-300 mb-4">
              We kregen eerst uitleg over hoe we het project moesten aanpakken. Vervolgens werd het project zelf toegelicht, en tot slot maakten we kennis met onze groep en voerden we enkele activiteiten uit.
            </p>
            <div class="flex flex-col space-y-2 text-gray-400">
              <div class="flex items-center">
                <svg class="w-5 h-5 mr-2" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
                  <path d="M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zm0 9.5a2.5 2.5 0 010-5 2.5 2.5 0 010 5z"/>
                </svg>
                <span>Digital PXL Elfde Liniestraat Gebouw B Hasselt, 3500 België</span>
              </div>
              <div class="flex items-center">
                <svg class="w-5 h-5 mr-2" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
                  <path d="M19 4h-1V2h-2v2H8V2H6v2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 16H5V8h14v12z"/>
                </svg>
                <span>12/12/2025 – 16/12/2025</span>
              </div>
              <div class="flex items-center">
                <svg class="w-5 h-5 mr-2" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
                  <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8zm-1-13h2v6h-2zm0 8h2v2h-2z"/>
                </svg>
                <span>27 uur</span>
              </div>
            </div>
          </div>
  
          <!-- Persoonlijke Ontwikkeling 2 -->
          <div class="bg-gray-900 p-6 rounded-lg shadow-lg border-2 border-red-700 transform hover:scale-105 transition-transform hover:shadow-[0_0_15px_5px_rgba(239,68,68,0.7)]">
            <h4 class="text-xl font-bold text-white mb-2">2. POP-sessie 2TIN: POPping</h4>
            <p class="text-gray-300 mb-4">
              Tijdens deze sessie gingen de deelnemers gezamenlijk aan de slag om een beter beeld te krijgen van hun eigen kwaliteiten én die van anderen binnen de groep. Er werd ook specifiek geoefend met het geven en ontvangen van feedback, wat bijdroeg aan het versterken van de onderlinge communicatie.
            </p>
            <div class="flex flex-col space-y-2 text-gray-400">
              <div class="flex items-center">
                <svg class="w-5 h-5 mr-2" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
                  <path d="M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zm0 9.5a2.5 2.5 0 010-5 2.5 2.5 0 010 5z"/>
                </svg>
                <span>Digital PXL – B122, Elfde Liniestraat, Gebouw B, Hasselt, 3500 België</span>
              </div>
              <div class="flex items-center">
                <svg class="w-5 h-5 mr-2" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
                  <path d="M19 4h-1V2h-2v2H8V2H6v2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 16H5V8h14v12z"/>
                </svg>
                <span>21/02/2023</span>
              </div>
              <div class="flex items-center">
                <svg class="w-5 h-5 mr-2" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
                  <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8zm-1-13h2v6h-2zm0 8h2v2h-2z"/>
                </svg>
                <span>2 uur</span>
              </div>
            </div>
          </div>
  
          <!-- Persoonlijke Ontwikkeling 3 -->
          <div class="bg-gray-900 p-6 rounded-lg shadow-lg border-2 border-red-700 transform hover:scale-105 transition-transform hover:shadow-[0_0_15px_5px_rgba(239,68,68,0.7)]">
            <h4 class="text-xl font-bold text-white mb-2">3. POP-sessie 2TIN: Brein aan het werk! Niet storen!</h4>
            <p class="text-gray-300 mb-4">
              Tijdens deze sessie stond de invloed van sociale media en technologie op het menselijk brein centraal. De deelnemers kregen inzicht in hoe digitale prikkels onze concentratie en denkpatronen beïnvloeden. Daarnaast kwamen praktische hulpmiddelen aan bod die kunnen helpen om het werk slimmer en efficiënter te organiseren.
            </p>
            <div class="flex flex-col space-y-2 text-gray-400">
              <div class="flex items-center">
                <svg class="w-5 h-5 mr-2" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
                  <path d="M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zm0 9.5a2.5 2.5 0 010-5 2.5 2.5 0 010 5z"/>
                </svg>
                <span>Digital PXL – B122, Elfde Liniestraat, Gebouw B, Hasselt, 3500 België</span>
              </div>
              <div class="flex items-center">
                <svg class="w-5 h-5 mr-2" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
                  <path d="M19 4h-1V2h-2v2H8V2H6v2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 16H5V8h14v12z"/>
                </svg>
                <span>21/02/2023</span>
              </div>
              <div class="flex items-center">
                <svg class="w-5 h-5 mr-2" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
                  <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8zm-1-13h2v6h-2zm0 8h2v2h-2z"/>
                </svg>
                <span>2 uur</span>
              </div>
            </div>
          </div>
  
          <!-- Persoonlijke Ontwikkeling 4 -->
          <div class="bg-gray-900 p-6 rounded-lg shadow-lg border-2 border-red-700 transform hover:scale-105 transition-transform hover:shadow-[0_0_15px_5px_rgba(239,68,68,0.7)]">
            <h4 class="text-xl font-bold text-white mb-2">4. POP-sessie 3TIN: My Team and I</h4>
            <p class="text-gray-300 mb-4">
              Deze sessie draaide om het verkennen van hoe verschillende persoonlijkheidstypes elkaar kunnen aanvullen binnen een team. Er werd ingezoomd op de groepsdynamiek en de kracht die ontstaat wanneer diverse eigenschappen en talenten worden samengebracht.
            </p>
            <div class="flex flex-col space-y-2 text-gray-400">
              <div class="flex items-center">
                <svg class="w-5 h-5 mr-2" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
                  <path d="M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zm0 9.5a2.5 2.5 0 010-5 2.5 2.5 0 010 5z"/>
                </svg>
                <span>Corda Campus – iSpace Kempische Steenweg 299 Gebouw 7 Hasselt, 3500 België</span>
              </div>
              <div class="flex items-center">
                <svg class="w-5 h-5 mr-2" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
                  <path d="M19 4h-1V2h-2v2H8V2H6v2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 16H5V8h14v12z"/>
                </svg>
                <span>09/10/2024</span>
              </div>
              <div class="flex items-center">
                <svg class="w-5 h-5 mr-2" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
                  <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8zm-1-13h2v6h-2zm0 8h2v2h-2z"/>
                </svg>
                <span>2 uur</span>
              </div>
            </div>
          </div>
        </div>
      </div>
  
      <!-- Internationalisering -->
      <div class="mb-16">
        <h3 class="text-3xl font-semibold text-red-400 mb-8">Internationalisering</h3>
        <div class="space-y-6">
          <!-- Internationalisering 1 -->
          <div class="bg-gray-900 p-6 rounded-lg shadow-lg border-2 border-red-700 transform hover:scale-105 transition-transform hover:shadow-[0_0_15px_5px_rgba(239,68,68,0.7)]">
            <h4 class="text-xl font-bold text-white mb-2">1. Hackathon for Good</h4>
            <p class="text-gray-300 mb-4">
              We hebben 48 uur lang moeten coderen aan 1 code. Maar buiten dit hebben we als team ook fijne activiteiten gedaan en hebben we gratis pizza gekregen bij de lunch.
            </p>
            <div class="flex flex-col space-y-2 text-gray-400">
              <div class="flex items-center">
                <svg class="w-5 h-5 mr-2" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
                  <path d="M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zm0 9.5a2.5 2.5 0 010-5 2.5 2.5 0 010 5z"/>
                </svg>
                <span>Hackathon for Good, Waldorpstraat 3, 2521 CA, Den Haag, Zuid-Holland</span>
              </div>
              <div class="flex items-center">
                <svg class="w-5 h-5 mr-2" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
                  <path d="M19 4h-1V2h-2v2H8V2H6v2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 16H5V8h14v12z"/>
                </svg>
                <span>30/01/2025 – 02/02/2025</span>
              </div>
              <div class="flex items-center">
                <svg class="w-5 h-5 mr-2" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
                  <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8zm-1-13h2v6h-2zm0 8h2v2h-2z"/>
                </svg>
                <span>3 dagen</span>
              </div>
            </div>
          </div>
        </div>
      </div>
  
    </section>
  </div>